@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Inter", Arial, sans-serif;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

.card {
  margin: 1rem;
  border: 1px solid red;
}
.card__header {
  height: 120px;
  background-color: white;
}
.card__img {
  height: 120px;
}
.card__body {
  padding: 1rem;
}
.card__title {
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}
.card__description {
  padding: 1.5rem 0 2rem;
}
.card__price {
  font-weight: 500;
  font-size: 1.5rem;
  color: red;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card__date {
  color: dodgerblue;
}
.card__btn {
  padding: 1rem 1.5rem;
  background-color: dodgerblue;
  color: white;
}

<<<<<<< HEAD
* {
  box-sizing: border-box;
}

body {
  background-color: #181818;
  color: #fff;
  font-family: "roboto", sans-serif;
  padding: 0 1.5rem;
}

.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

.logo1 {
  text-align: center;
  font-size: 3em;
}

.contact-w {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contact-w > * {
  padding: 1em;
}

.contact-form {
  background-color: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form .block {
  grid-column: 1/3;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background-color: none;
  outline: 0;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #b70e21;
  color: white;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: black;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background-color: #000;
}

.info {
  font-family: "roboto", sans-serif;
  font-size: 20px;
}

.contact-info ul {
  list-style: none;
  padding: 5px;
  text-align: center;
  margin: 0 0 1rem 0;
}

@media (min-width: 700px) {
  body {
    padding: 0 4rem;
  }
  .contact-w {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-w > * {
    padding: 2rem;
  }
  .contact-info h4,
  .contact-info ul {
    padding: 1em;
    text-align: left;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 1rem;
}

/* =====================================Inicio del formulario============================== */
.title {
  color: red;
  text-align: center;
  padding: 20px;
  margin-top: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.section {
  display: flex;
  justify-content: center;
}

.form-register {
  width: 350px;
  background: #222222;
  padding: 30px;
  margin-top: 20px;
  color: white;
  box-shadow: 0px 5px 20px 7px white;
}

input, textarea, select {
  padding: 10px;
  border: 1px solid rgb(6, 6, 6);
  border-radius: 5px;
  outline: none;
  width: 95%;
}

::-webkit-input-placeholder {
  color: black;
}

.formulary__genre-div {
  width: 300px;
  margin-left: 0px;
  display: flex;
}

.formulary-conditions__input {
  width: 10%;
  margin-top: 15px;
}

.btn {
  background-color: red;
  padding: 10px;
  border: none;
  margin: 20px 15px 20px 10px;
  border-radius: 6px;
  color: white;
}

@media only screen and (min-width: 768px) {
  /* para desktop */
  .form-register {
    width: 500px;
  }
  .btn {
    margin-left: 15px;
  }
}
=======
.map {
  width: 100%;
}

>>>>>>> contact
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  margin: 20px;
  background-color: black;
}

.capa {
  width: 100%;
  height: 150%;
  position: absolute;
  background-color: black;
}

.parrafo {
  z-index: 1;
  width: 540px;
  height: 440px;
  padding: 20px;
  font-size: 15px;
  line-height: 1.5;
  box-shadow: 1px 5px 25px;
  border-radius: 5px;
}

.parrafo img {
  width: 280px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.title {
  color: red;
  text-align: center;
  text-decoration: underline;
}

>>>>>>> acerca
=======
.footer {
  background-color: #222;
  display: flex;
  align-items: center;
  text-align: center;
}
.footer__column {
  padding: 1rem;
  margin: auto;
}
.footer__logo {
  width: 100px;
  border-radius: 50%;
}
.footer__company-name {
  color: white;
  font-size: 10px;
}
.footer__copyrigth {
  color: white;
  margin: 10px;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1.75rem;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  color: #f14d59;
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
.footer__contact-icon--twitter {
  color: rgb(29, 155, 240);
}

>>>>>>> FT-footer
.header {
  position: fixed;
  width: 100%;
  top: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 45px;
  color: black;
  background-color: white;
  border-radius: 60%;
  margin: 5px;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  background-color: black;
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 50px;
  background-color: black;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(156, 156, 156);
}
.navbar__nav-link {
  color: rgb(255, 255, 255);
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  width: 40px;
}
.user-navbar__cart-icon-container {
  color: white;
}

@media screen and (min-width: 600px) {
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100% !important;
    width: auto;
  }
  .user-navbar {
    order: 3;
  }
}
<<<<<<< HEAD
.footer {
  display: flex;
  flex-direction: column;
  background-color: #222;
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__logo {
  width: 30%;
}
.footer__company-name {
  color: white;
}
.footer__copyrigth {
  color: white;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1.75rem;
}
.footer__contact-icon--facebook {
  color: #38529a;
}
.footer__contact-icon--instagram {
  color: #f14d59;
}
.footer__contact-icon--linkedin {
  color: #0077b6;
}
<<<<<<< HEAD
<<<<<<< HEAD
.footer__contact-icon--twitter {
  color: rgb(29, 155, 240);
}
=======
>>>>>>> FT-header-responsive

=======
>>>>>>> FT-footer
.main {
  margin-top: 50px;
  padding: 1.5rem 0;
  background-color: aliceblue;
}

.container1 {
  margin: auto;
  background-color: white;
  width: 800px;
  padding: 30px;
}

.ul, li {
=======

* {
>>>>>>> main
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: black;
}

.contenido {
  background-image: url(/assets/images/Razer\ portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50rem;
  width: 100%;
  position: relative;
}

.contenido h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 4rem;
  text-transform: uppercase;
}

.logo_r {
  color: white;
  border-radius: 50%;
  width: 50px;
}

.contenido::before {
  position: absolute;
  content: "";
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
}

.slider {
  width: 75vw;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 4400px;
  max-width: 1000px;
  min-width: 400px;
}

.slider .slide {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(-2200px);
  }
}
.container {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 10px;
  bottom: 100px;
  right: 5px;
}

input {
  outline: none;
  box-sizing: border-box;
  height: 60px;
  width: 0px;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid #D50000;
  transition: all 0.7s ease;
}

::-moz-placeholder {
  color: grey;
}

::placeholder {
  color: grey;
}

.btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 80px;
  height: 80px;
  background: #D50000;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.btn i {
  font-size: 25px;
  color: white;
  line-height: 80px;
  transition: all 0.7s ease;
}

.container:hover input {
  width: 350px;
}

.container:hover i {
  transform: rotate(-360deg);
}

.btn:hover {
  background: #cc0000;
}

@media screen and (min-width: 1000px) {
  .container__btn {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */