.footer {
    background-color: $color-dark-gray;
    display: flex;
    align-items: center;
    text-align: center;
    &__column {
        padding: 1rem;
        margin: auto;
    }
    &__logo{
        width: 100px;
        border-radius: 50%;
        
    }
    &__company-name{
        color: white;
        font-size: 10px;

    }
    &__copyrigth{
        color: white;
        margin: 10px;
    }

    &__contact-item {
        list-style: none;
        
    }

    &__contact-link {
        color: white;
        padding: .25rem;
        display: flex;
        align-items: center;
        text-align: center;
        gap: .5rem;
        

        
    }

    &__contact-icon {
        font-size: 1.75rem;
        &--facebook {
            color: #38529a;
        }
        &--instagram {
            color: #f14d59;
        }
        &--linkedin {
            color: #0077b6;
        }
        &--twitter {
            color:rgb(29 155 240);
        }
    }
}
