.card {
    margin: 1rem;
    border: 1px solid red;
    background-color: black;
    &__header {
        height: 120px;
<<<<<<< HEAD
<<<<<<< HEAD
        background-color:white;
=======
>>>>>>> FT-main-cards
=======
        background-color:white;
>>>>>>> wsp
    }

    &__img {
        height: 120px;
        width: 100%;
    }

    &__body {
        padding: 1rem;
    }

    &__title {
        font-weight: 500;
        font-size: 1.5rem;
<<<<<<< HEAD
<<<<<<< HEAD
=======
        border-bottom: 2px solid orangered;
>>>>>>> FT-main-cards
=======
        border-bottom: 2px solid orangered;
>>>>>>> wsp
        color: white;
    }

    &__description {
        padding: 1.5rem 0 2rem;
        color: white;
    }

    &__price {
        font-weight: 00;
        font-size: 1.5rem;
        color: $color-bg-primary;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    &__date {
        color:white;
    }
    &__btn {
        padding: 1rem 1.5rem;
        background-color:red;
        color: white;
<<<<<<< HEAD
<<<<<<< HEAD
    }
}
<<<<<<< HEAD
<<<<<<< HEAD

    
   
=======
    
    
>>>>>>> FT-footer
=======
>>>>>>> contact
=======
        border-radius: 15px;
=======
>>>>>>> wsp
    }
}
    
   
<<<<<<< HEAD
>>>>>>> FT-main-cards
=======
>>>>>>> wsp
